<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KCD2_mod_manager.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KCD2_mod_manager.Settings>
            <setting name="AskOnDelete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="GameLaunchArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="IsDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDevMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MonitorIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="CreateBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableUpdateNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DontAskForNexusLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NexusUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="NexusUserToken" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupOnChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupMaxCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BackupOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NexusIsPremium" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NexusUserEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="NexusUserID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NexusUUID" serializeAs="String">
                <value />
            </setting>
            <setting name="NexusConnectionToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ModOrderEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </KCD2_mod_manager.Settings>
    </userSettings>
</configuration>